http_port {{ ansible_host }}:{{ squid.port }}

auth_param basic program /usr/lib/squid/basic_ncsa_auth /etc/squid/accounts.conf
auth_param basic realm Restricted Endpoint
auth_param basic children 100
auth_param basic credentialsttl 1 hours
auth_param basic casesensitive off

acl authorities proxy_auth REQUIRED
http_access allow authorities

via off
forwarded_for off

request_header_access From deny all
request_header_access Server deny all
request_header_access WWW-Authenticate deny all
request_header_access Link deny all
request_header_access Cache-Control deny all
request_header_access Proxy-Connection deny all
request_header_access X-Cache deny all
request_header_access X-Cache-Lookup deny all
request_header_access Via deny all
request_header_access X-Forwarded-For deny all
request_header_access Pragma deny all
request_header_access Keep-Alive deny all